.flex-container {
    /* display: flex; */
}

.grid-container {
    /* display: grid; */
}

/* to help visualize */

div:not([class]) {
    outlien: 2px solid black;
    padding: 0.5em;
}

/* general styling */

header {
    margin-block: 3rem;
}